<div class="flex justify-center" style="background-color: #bababa; padding: 1rem;">
  Disclaimer: The opinions expressed herein are my own personal opinions and
  do not represent my employer’s view in any way.&nbsp;<i>(Thanks,&nbsp;<a class="white hover-black no-underline" href="https://hanselman.com" target="_blank">Scott</a>)</i>
</div>
<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.Home.Permalink }}" >
    &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
  </a>
    <div>{{ partial "social-follow.html" . }}</div>
  </div>
</footer>
